*{
color: dimgray;
font-family: "Comic Sans MS", cursive, sans-serif;
/* background-color:pink; */
}
hr{

    border-top: 1px dashed #8c8b8b;
    margin-right: 300px;
    margin-left: 300px;

}
table{
display:flex;
justify-content: center;
align-content: center;

}
h1,h2 {
    text-align: center;
}
 tr ,td {
    border: 1px solid;
    width: 100px;
    padding: 15px;
    height: 100px;
    text-align: center;
  }
  
  img{

    width:90px;


  }
  .button{

display: flex;
justify-content: center;

  }